header{
    width: 100%;
    height: 10vh;
    padding: 20px;
    background-color: rgb(26, 26, 75);
    border-bottom: 1px solid #fff;
}

header .topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
}

.topo .opcao-home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    gap: 10px;
}

.topo nav{
    display: flex;
    align-items: center;
    gap: 10px;
}

.topo .opcao-home:hover {
    border-bottom: 2px solid #fff;
}